<footer class="bg-(--color-header-bg) text-(--color-header-text) mt-auto">
    <div class="container mx-auto px-6 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
        <div class="mb-4 md:mb-0">
        <p>&copy; <span id="footer-year"></span> Timothy White. All rights reserved.</p>
        </div>
        <div class="flex space-x-6">
        <a
            href="https://github.com/timwhite06"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-(--color-primary) transition"
        >
            GitHub
        </a>
        <a
            href="https://www.linkedin.com/in/timothy-white-64075222b/"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-(--color-primary) transition"
        >
            LinkedIn
        </a>
        </div>
    </div>
    </div>
</footer>
